:root { 
--green_100:#c8d2c8; 
--red_700:#e72626; 
--gray_500_7f:#aaaaaa7f; 
--blue_gray_100_dd:#d9d9d9dd; 
--blue_gray_100_01:#d9d9d9; 
--red_700_a2:#e72626a2; 
--blue_gray_900_a2:#303030a2; 
--black_900_3f:#0000003f; 
--green_600:#4b9c4e; 
--red_100:#f6cece; 
--gray_900_0c:#1018280c; 
--black_900:#000000; 
--blue_700_a2:#1976d2a2; 
--blue_gray_800:#344053; 
--green_600_cc:#4b9c4fcc; 
--blue_gray_900_01:#303030; 
--blue_50_01:#dcecfb; 
--blue_gray_100_d9:#d9d9d9d9; 
--blue_gray_900:#333333; 
--blue_gray_900_87:#30303087; 
--gray_900_0f:#1018280f; 
--black_900_26:#00000026; 
--gray_600:#717683; 
--gray_400:#b9b9b9; 
--blue_gray_100:#cfd4dc; 
--gray_500:#aaaaaa; 
--blue_700:#1976d2; 
--blue_gray_500:#667084; 
--green_600_d9:#4b9c4fd9; 
--gray_900:#212121; 
--green_50:#e7ffe9; 
--gray_300:#dcdaed; 
--gray_300_01:#dbdaec; 
--blue_50:#e1f0fe; 
--gray_100:#f7f7f7; 
--blue_gray_500_99:#66708499; 
--blue_gray_900_90:#30303090; 
--indigo_900:#29207e; 
--blue_gray_900_99:#35353599; 
--white_A700:#ffffff; 
}